# sphinx build directories
_build/

# dotfiles
# .*
.idea
!.gitignore
!.mailmap
.vscode/*
!.vscode/launch.json.example
!.vscode/extensions.json
!.vscode/settings.json
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
odools.toml
!odools.toml.example

# window installation config file
config/*
!config/dev.conf.example
!config/prod.conf.example
# Third Party Addons
vendor/*
!vendor/.gitkeep
src/*
!src/.gitkeep
# Developer files addons
src/dev/*
!src/dev/.gitkeep
# Projects files addons
src/projects/*
!src/projects/.gitkeep
# Migrate files addons
src/migrate/*
!src/migrate/.gitkeep

# js tooling
node_modules
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky

# Distribution / packaging
# Odoo source code (cloned dynamically with clone-addons.sh)
odoo/
odoo-enterprise/
odoo-themes/
clone.log
env/
env-*/
.venv
.venv-*
venv
venv-*
.Python
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs
.env

#PyDev
.project
.pydevproject

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage.lcov

# static Lib
!static/lib/

# Claude Code cache/options directory
.claude/*
!.claude/agents

# WSL
*.Identifier
