[[config]]
name = "Odoo 17.0"
odoo_path = "${workspaceFolder}/odoo"
addons_paths = [
    "${workspaceFolder}/odoo/addons",
    "${workspaceFolder}/odoo-enterprise",
    "${workspaceFolder}/odoo-themes",
]